*
    box-sizing: border-box
    padding: 0
    margin: 0

.icon
    display: inline-block
    vertical-align: middle

[type='text'],
[type='search'],
[type='tel'],
[type='email'],
[type='number']
    appearance: none

+font-face('FuturaHeavy', '../fonts/FuturaPT-Heavy')
+font-face('FuturaBold', '../fonts/FuturaPT-Bold')
+font-face('FuturaBook', '../fonts/FuturaPT-Book')
+font-face('FuturaBookOblique', '../fonts/futuraptbookoblique')


$fh: 'FuturaHeavy'
$fbold: 'FuturaBold'
$fbook: 'FuturaBook'
$fbooko: 'FuturaBookOblique'
$red: #ff0000


body
    font-size: 16px
    background-color: #f2f2f2
    position: relative
    font-family: $fbook
    color: #000

.container
    width: 60vw
    &_header
        width: 70vw
        position: relative
        min-height: 4vw


.fp-viewing-secondSection, .fp-viewing-thirdSection, .fp-viewing-fourthSection
    .body__links
        opacity: 1

.body
    &__links
        position: fixed
        left: 15vw
        transition: 0.5s ease 0s
        opacity: 0
        z-index: 30
        top: 0
    &__canvas
        position: fixed
        left: 0
        top: 0
        width: 100%
        height: 100%
        z-index: 10
    &__page
        position: relative
        z-index: 20
        min-width: 320px

.section-flex
    position: relative
    display: flex
    height: 100vh
    flex-direction: column
    &__header, &__footer
        text-align: center
        height: 4vw
    &__content
        flex: 1
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: center
        position: relative


.links-list
    display: flex
    height: 4vw
    align-items: center
    &__section
        margin-right: 1.5vw
        &:last-child
            margin-right: 0

.title
    line-height: 1.2em
    text-transform: uppercase
    color: $red
    font-family: $fbold
    text-align: center
    &_fz5-2vw
        font-size: 5.2vw
    &_fz6-4vw
        font-size: 6.5vw
    &_fz1-6vw
        font-size: 1.6vw
    &_fz1-2vw
        font-size: 1.2vw
    &_fz1vw
        font-size: 1vw 
    &_black
        color: #000
    &_ttn
        text-transform: none
    &__red
        color: $red
    &_ta-left
        text-align: left

.section-first
    &__content
        position: absolute
        right: 7vw
        bottom: 7vw
        display: flex
        align-items: flex-end
        width: 43vw
        justify-content: space-between
    &__content-right
        color: $red
        width: 9vw
        text-align: right
    &__logo-bl-top
        font-size: 3vw
        line-height: 0.8em
        color: $red
        font-style: italic
    &__logo-bl-bottom
        padding-left: 4vw

.st-text
    font-size: 0.9vw

.section2-main
    &__subtitle
        margin-bottom: 1vw
    &__info
        margin-bottom: 2vw
    &__list
        margin-bottom: 4vw
    &__footer
        text-align: center
        font-size: 0
        line-height: 0
    &__logo-img
        width: 40vw

.button
    text-transform: uppercase
    cursor: pointer
    text-decoration: none
    width: 14vw
    background-color: $red
    font-family: $fh
    font-size: 1.2vw
    color: #fff
    text-align: center
    border: 0.3vw solid $red
    transition: all 0.5s ease 0s
    position: relative
    line-height: 3.5vw
    padding: 0 0.5vw
    z-index: 20
    display: inline-block
    outline: none
    &:hover
        background-color: #fff
        color: $red
    &:active
        transform: scale(0.8)


.grid-ul
    column-count: 2
    column-gap: 6vw
    font-size: 1.5vw
    list-style: none
    margin-top: -1.5vw
    line-height: 1.2em
    &__li
        padding-left: 1.5vw
        padding-top: 1.5vw
        position: relative
        display: inline-block
        &:before
            content: ''
            width: 1vw
            height: 1vw
            position: absolute
            left: 0
            top: 1.9vw
            background-color: $red


.form
    background: rgba(255,255,255,0.75)
    padding: 2vw 1.5vw
    display: flex
    justify-content: space-between
    font-size: 1.2vw
    font-family: $fbook
    &__section
        width: 45%
    &__line
        margin-bottom: 3vw
        &:last-child
            margin-bottom: 0


.form-line__info
    margin-bottom: 1vw

.st-input
    width: 100%
    font-size: 1.2vw
    padding: 0.8vw
    font-family: $fbooko
    transition: all 0.5s ease 0s
    border: 1px solid #000
    font-style: italic
    outline: none
    &:focus
        border-color: $red

.st-textarea
    width: 100%
    font-size: 1.2vw
    padding: 0.8vw
    height: 10vw
    font-family: $fbooko
    transition: all 0.5s ease 0s
    border: 1px solid #000
    font-style: italic
    outline: none
    resize: none
    &:focus
        border-color: $red

.logo-link
    color: #000
    font-size: 2.5vw
    text-decoration: none
    font-family: $fbook
    text-transform: uppercase
    transition: all 0.5s ease 0s
    display: inline-block
    line-height: 0.8em
    &__bold
        font-family: $fbold
    &__italic
        font-style: italic
    &:hover
        color: $red


.soc__item
    margin-right: 0.7vw
    color: #000
    font-size: 1.5vw
    text-decoration: none
    font-family: $fbook
    transition: all 0.5s ease 0s
    &:last-child
        margin-right: 0
    &:hover
        color: $red


.section3-main
    &__logo
        text-align: center
        margin-bottom: 3vw
    &__logo-img
        width: 55vw
    &__subtitle
        margin-bottom: 3vw


.case-study-grid
    display: flex
    justify-content: space-between
    align-items: center
    font-size: 1vw
    &__section
        &:first-child
            width: 40%
        &:last-child
            width: 60%
            padding-left: 4vw

.case-study-item
    &__title
        font-size: 1vw
        margin-bottom: 0.2vw
        text-transform: uppercase
        color: $red
        font-family: $fh
    &__content-close
        display: none

.info-box
    background: rgba(255,255,255,0.75)
    padding: 1.5vw
    &__title
        text-align: left
        margin-bottom: 0.1vw

.info-box__section
    margin-bottom: 2vw
    &:last-child
        margin-bottom: 0


.list-ul
    list-style: none
    &__li
        position: relative
        margin-bottom: 1vw
        &:before
            content: ''
            width: 0.6vw
            height: 0.6vw
            position: absolute
            left: -1.5vw
            top: 0.35vw
            background-color: $red
        &:last-child
            margin-bottom: 0

.section4-main__title
    margin-bottom: 1vw

.section5-main
    text-align: center
    display: inline-block
    &__title
        color: $red
        font-size: 10vw
        margin-bottom: 6vw
        display: block
    &__footer
        text-align: right

.phone-mail
    display: inline-block
    text-align: left
    &__mail
        color: $red
        font-family: $fbooko
        font-style: italic
        font-size: 1vw
        text-transform: uppercase
        text-decoration: none
        &:hover
            text-decoration: underline
    &__phone
        text-decoration: none
        font-size: 2vw
        margin-left: 2vw
        color: #000
        font-family: $fbold
        display: block
        &:hover
            text-decoration: underline


@media screen and (max-width: 1280px)
    .logo-link
        font-size: 24px

    .soc__item
        font-size: 18px
        margin-right: 10px
        &:last-child
            margin-right: 0

    .section-flex__footer, .section-flex__header, .links-list
        height: 54px

    .button
        font-size: 16px
        line-height: 50px
        width: 175px

    .title_fz5-2vw
        font-size: 60px

    .title_fz6-4vw
        font-size: 70px

    .title_fz1-6vw
        font-size: 22px

    .title_fz1-2vw
        font-size: 18px

    .section-first__logo-bl-top
        font-size: 40px

    .section-first__logo
        font-size: 35px

    .section-first__content-right
        width: 175px

    .st-text
        font-size: 18px

    .section-first__content
        right: 3vw
        width: 45vw

    .container
        width: 700px
        padding: 0 15px

    .grid-ul
        font-size: 16px
        margin-top: -18px
        column-gap: 30px

    .grid-ul__li
        padding-left: 18px
        padding-top: 18px
        &:before
            width: 10px
            height: 10px
            top: 22px
            left: 0


    .list-ul__li
        &:before
            left: -15px
            top: 6px
            width: 7px
            height: 7px

    .section2-main__logo-img
        width: 70%

    .section3-main__logo-img
        width: 80%

    .case-study-item__title
        font-size: 14px
        margin-bottom: 5px

    .case-study-grid
        font-size: 14px


    .form
        font-size: 15px

    .st-input, .st-textarea
        font-size: 15px

    .section5-main__title
        font-size: 90px

    .phone-mail__mail
        font-size: 14px

    .phone-mail__phone
        font-size: 22px


@media screen and (max-width: 768px)
    .button
        font-size: 12px
        width: 140px
        line-height: 43px

    .section-flex__footer, .section-flex__header
        height: 47px


    .links-list
        height: 0

    .title_fz5-2vw
        font-size: 50px

    .section-first__title
        margin-bottom: 200px

    .section-first__content
        width: 320px
        right: 50%
        margin-right: -160px
        bottom: 30px
        padding: 100px 10px 0

    .section-first__content-left
        position: absolute
        right: 10px
        top: 0
        
    .section-first__content-right
        text-align: left
        width: 150px

    .section-first__logo-bl-top
        font-size: 30px

    .section-first__logo
        font-size: 25px

    .st-text
        font-size: 16px
        
    .body__links
        position: static

    .links-list__section:first-child
        position: fixed
        top: 15px
        right: 0
        z-index: 30

    .links-list__section:last-child
        position: fixed
        top: 13px
        left: 20px
        z-index: 30

    .logo-link
        font-size: 20px

    .title_fz6-4vw
        font-size: 30px

    .title_fz1-6vw
        font-size: 14px
        br
            display: none

    .title_fz1-2vw
        font-size: 14px

    .container
        width: 320px
        padding: 0 10px


    .grid-ul
        font-size: 14px
        margin-top: -10px
        column-gap: 10px
        &__li
            padding-top: 10px
            padding-left: 10px
            &:before
                width: 8px
                height: 8px
                top: 15px

    .case-study-item__content
        display: none

    .case-study-grid
        display: block
        &__section
            &:first-child
                width: 100%
            &:last-child
                width: 100%
                padding-left: 0

    .info-box
        background: transparent
        padding: 0
        &__section
            margin-bottom: 30px
            &:last-child
                margin-bottom: 30px
                
    .case-study-item__title
        font-size: 18px
        background: rgba(255,255,255,.75)
        padding: 10px
        color: #000
        position: relative
        &:after
            content: ''
            width: 10px
            height: 10px
            border-top: 3px solid $red
            border-right: 3px solid $red
            position: absolute
            right: 15px
            top: 50%
            margin-top: -5px
            transform: rotate(45deg)

    .case-study-item.opened .case-study-item__content
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        z-index: 100
        padding: 30px
        background-color: #fff
        display: block

    .case-study-item__content-close
        cursor: pointer
        outline: none
        border: none
        background: transparent
        position: absolute
        top: 5px
        right: 5px
        width: 15px
        height: 15px
        display: block
        transform: rotate(45deg)
        &:before
            content: ''
            width: 100%
            height: 2px
            background-color: #000
            top: 50%
            margin-top: -1px
            left: 0
            position: absolute
        &:after
            content: ''
            width: 2px
            height: 100%
            background-color: #000
            left: 50%
            margin-left: -1px
            top: 0
            position: absolute

    .form__section
        width: 100%
        &:last-child
            display: none

    .form-line__info
        display: none

    .form, .st-input, .st-textarea
        font-size: 16px
        padding: 10px

    .st-textarea
        height: 200px


    .section5-main__title
        font-size: 70px