*
    box-sizing: border-box
    padding: 0
    margin: 0

.icon
    display: inline-block
    vertical-align: middle

[type='text'],
[type='search'],
[type='tel'],
[type='email'],
[type='number']
    appearance: none

+font-face('FuturaHeavy', '../fonts/FuturaPT-Heavy')
+font-face('FuturaBold', '../fonts/FuturaPT-Bold')
+font-face('FuturaBook', '../fonts/FuturaPT-Book')
+font-face('FuturaBookOblique', '../fonts/futuraptbookoblique')


$fh: 'FuturaHeavy'
$fbold: 'FuturaBold'
$fbook: 'FuturaBook'
$fbooko: 'FuturaBookOblique'
$red: #ff0000


body
    font-size: 16px
    background-color: #f2f2f2
    position: relative
    font-family: $fbook
    color: #000

.container
    width: 60vw
    &_header
        width: 70vw
        position: relative
        min-height: 4vw


.fp-viewing-secondSection, .fp-viewing-thirdSection, .fp-viewing-fourthSection
    .body__links
        opacity: 1

.body
    &__links
        position: fixed
        left: 15vw
        transition: 0.5s ease 0s
        opacity: 0
        z-index: 30
        top: 0
    &__canvas
        position: fixed
        left: 0
        top: 0
        width: 100%
        height: 100%
        z-index: 10
    &__page
        position: relative
        z-index: 20
        min-width: 320px

.container
    width: 750px

.section-flex
    position: relative
    display: flex
    height: 100vh
    flex-direction: column
    &__header, &__footer
        text-align: center
        height: 50px
    &__content
        flex: 1
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: center
        position: relative

.links-list
    display: flex
    height: 50px
    align-items: center
    &__section
        margin-right: 10px
        &:last-child
            margin-right: 0

.title
    line-height: 1em
    text-transform: uppercase
    color: $red
    font-family: $fbold
    text-align: center
    &_fz_83
        font-size: 83px
        letter-spacing: 0.4px
    &_fz_103
        font-size: 100px
        letter-spacing: -1px
    &_fz_25
        font-size: 25px
        line-height: 1.56em
        letter-spacing: 0.3px
    &_fz_18
        font-size: 18px
        line-height: 1.53em
    &_black
        color: #000
    &_ttn
        text-transform: none
    &__red-span
        color: $red
    &_ta-left
        text-align: left

.section-first
    &__container
        width: 900px
        padding: 190px 0
        position: relative
    &__content
        position: absolute
        right: 0
        bottom: 0
        display: flex
        align-items: flex-end
        justify-content: space-between
    &__content-left
        margin-right: 170px
    &__content-right
        color: $red
        width: 126px
        text-align: right
    &__logo-bl-top
        font-size: 3vw
        line-height: 0.8em
        color: $red
        font-style: italic
    &__logo-bl-bottom
        padding-left: 4vw

.st-text
    font-size: 14px
    font-weight: normal
    font-style: normal
    font-stretch: normal
    line-height: 1em
    letter-spacing: normal
    font-family: $fbook
    strong
        font-family: $fbold
        font-weight: 400
        line-height: 1.15em

.section2-main
    &__title
        margin-bottom: 35px
    &__subtitle
        margin-bottom: 25px
    &__info
        margin-bottom: 30px
    &__list
        margin-bottom: 65px
    &__footer
        text-align: center
        font-size: 0
        line-height: 0
    &__logo-img
        width: 520px

.button
    text-transform: uppercase
    cursor: pointer
    text-decoration: none
    width: 170px
    background-color: $red
    font-family: $fh
    border: 1px solid $red
    line-height: 48px
    transition: all 0.5s ease 0s
    position: relative
    z-index: 20
    display: inline-block
    outline: none
    font-size: 14px
    font-style: normal
    font-stretch: normal
    letter-spacing: 1.4px
    text-align: center
    color: #fff
    &:hover
        background-color: #fff
        color: $red
    &:active
        transform: scale(0.8)


.grid-ul
    column-count: 2
    column-gap: 160px
    font-size: 22px
    list-style: none
    margin-top: -20px
    line-height: 1.1em
    &__li
        padding-left: 30px
        padding-top: 20px
        position: relative
        display: inline-block
        &:before
            content: ''
            width: 15px
            height: 15px
            position: absolute
            left: 0
            top: 25px
            background-color: $red


.form
    background: rgba(255,255,255,0.75)
    padding: 40px 30px
    display: flex
    justify-content: space-between
    font-family: $fbook
    font-size: 17px
    line-height: 1.2em
    &__section
        width: 45%
    &__line
        margin-bottom: 50px
        &:last-child
            margin-bottom: 0

.form-line__info
    margin-bottom: 10px

.st-input, .st-textarea
    width: 100%
    font-size: 16px
    padding: 0 13px
    font-family: $fbooko
    transition: all 0.5s ease 0s
    height: 46px
    border: 0.5px solid #000
    outline: none
    +phc(#979695)
    color: #979695
    &:focus
        border-color: $red
        color: #000

.st-textarea
    padding: 20px 13px
    height: 200px
    resize: none

.logo-link
    color: #000
    font-size: 2.5vw
    text-decoration: none
    font-family: $fbook
    text-transform: uppercase
    transition: all 0.5s ease 0s
    display: inline-block
    line-height: 0.8em
    &__bold
        font-family: $fbold
    &__italic
        font-style: italic
    &:hover
        color: $red
    &__icon
        width: 122px


.soc__item
    margin-right: 0.7vw
    color: #000
    font-size: 1.5vw
    text-decoration: none
    font-family: $fbook
    transition: all 0.5s ease 0s
    &:last-child
        margin-right: 0
    &:hover
        color: $red


.section3-main
    &__logo
        text-align: center
        margin-bottom: 25px
    &__logo-img
        width: 100%
    &__subtitle
        margin-bottom: 60px


.case-study-grid
    display: flex
    justify-content: space-between
    align-items: center
    font-size: 12px
    line-height: 1.5em
    &__section
        &:first-child
            flex-basis: 256px
            flex-shrink: 0
        &:last-child
            width: 100%
            padding-left: 64px

.case-study-item
    &__title
        font-size: 15px
        line-height: 1.2em
        margin-bottom: 5px
        text-transform: uppercase
        color: $red
        font-family: $fh
    &__content-close
        display: none

.info-box
    background: rgba(255,255,255,0.75)
    padding: 25px

.case-study-grid
    strong
        font-family: $fbold
        font-weight: 400
        color: $red

.info-box__section
    margin-bottom: 2vw
    &:last-child
        margin-bottom: 0


.list-ul
    list-style: none
    &__li
        position: relative
        margin-bottom: 20px
        &:before
            content: ''
            width: 8px
            height: 8px
            position: absolute
            left: -25px
            top: 8px
            background-color: $red
        &:last-child
            margin-bottom: 0

.red-text
    color: $red

.section4-main__title
    margin-bottom: 1vw

.section5-main
    text-align: center
    display: inline-block
    &__title
        color: $red
        font-size: 10vw
        margin-bottom: 6vw
        display: block
    &__footer
        text-align: right

.phone-mail
    display: inline-block
    text-align: left
    &__mail
        color: $red
        font-family: $fbooko
        font-style: italic
        font-size: 1vw
        text-transform: uppercase
        text-decoration: none
        &:hover
            text-decoration: underline
    &__phone
        text-decoration: none
        font-size: 2vw
        margin-left: 2vw
        color: #000
        font-family: $fbold
        display: block
        &:hover
            text-decoration: underline


@media screen and (max-width: 1200px)
    .container
        width: 330px


    .title
        &_fz_83
            font-size: 58px
            letter-spacing: 0.3px

    .section-first__container
        width: 350px
        padding-bottom: 315px
        padding-top: 100px

    .section-first__content
        right: auto
        left: 0
        width: 100%

    .section-first__content-left
        margin-right: 0
        position: absolute
        right: 0
        bottom: 215px
        
    .section-first__content-right
        text-align: left
        width: 180px

    .st-text
        font-size: 20px
        line-height: 1.2em

    .title_fz_103
        font-size: 43px

    .section2-main__title
        margin-bottom: 30px

    .title_fz_25
        font-size: 18px
        line-height: 1.33em
        letter-spacing: 0.2px

    .title_fz_18
        font-size: 15px
        line-height: 1.2em


    .grid-ul
        font-size: 15px
        column-count: 1
        &__li
            padding-left: 20px
            &:before
                width: 10px
                height: 10px
                top: 24px

    .section2-main__logo-img
        width: 100%


    .section3-main__logo
        margin-bottom: 5px

    .section3-main__mobile-title
        color: $red
        .title__tablet-span
            font-size: 25.5px
            line-height: 1.53
            letter-spacing: 0.3px
            color: #000000
            display: block
            text-align: center


    .case-study-grid
        display: block

    .section3-main__subtitle
        margin-bottom: 20px

    .info-box
        padding: 20px

    .case-study-grid
        font-size: 10px
        &__section
            margin-bottom: 20px
            width: 100%
            padding: 0
            &:last-child
                margin-bottom: 0
                padding-left: 20px

    .list-ul__li
        margin-bottom: 10px
        &:before
            width: 7px
            height: 7px
            left: -20px
            top: 4px
        &:last-child
            margin-bottom: 0

    .form
        display: block
        padding: 20px 25px
        &__line
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0
        &__section
            width: 100%
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0

    .st-input, .st-textarea
        font-size: 12px
        height: 32px
        padding: 0 10px

    .st-textarea
        padding: 10px
        height: 100px


@media screen and (max-width: 767px)
    .button
        font-size: 12px
        width: 140px
        line-height: 43px

    .section-flex__footer, .section-flex__header
        height: 47px


    .links-list
        height: 0

    .title_fz5-2vw
        font-size: 50px

    .section-first__title
        margin-bottom: 200px

    .section-first__content
        width: 320px
        right: 50%
        margin-right: -160px
        bottom: 30px
        padding: 100px 10px 0

    .section-first__content-left
        position: absolute
        right: 10px
        top: 0
        
    .section-first__content-right
        text-align: left
        width: 150px

    .section-first__logo-bl-top
        font-size: 30px

    .section-first__logo
        font-size: 25px

    .st-text
        font-size: 16px
        
    .body__links
        position: static

    .links-list__section:first-child
        position: fixed
        top: 15px
        right: 0
        z-index: 30

    .links-list__section:last-child
        position: fixed
        top: 13px
        left: 20px
        z-index: 30

    .logo-link
        font-size: 20px

    .title_fz6-4vw
        font-size: 30px

    .title_fz1-6vw
        font-size: 14px
        br
            display: none

    .title_fz1-2vw
        font-size: 14px

    .container
        width: 320px
        padding: 0 10px


    .grid-ul
        font-size: 14px
        margin-top: -10px
        column-gap: 10px
        &__li
            padding-top: 10px
            padding-left: 10px
            &:before
                width: 8px
                height: 8px
                top: 15px

    .case-study-item__content
        display: none

    .case-study-grid
        display: block
        &__section
            &:first-child
                width: 100%
            &:last-child
                width: 100%
                padding-left: 0

    .info-box
        background: transparent
        padding: 0
        &__section
            margin-bottom: 30px
            &:last-child
                margin-bottom: 30px
                
    .case-study-item__title
        font-size: 18px
        background: rgba(255,255,255,.75)
        padding: 10px
        color: #000
        position: relative
        &:after
            content: ''
            width: 10px
            height: 10px
            border-top: 3px solid $red
            border-right: 3px solid $red
            position: absolute
            right: 15px
            top: 50%
            margin-top: -5px
            transform: rotate(45deg)

    .case-study-item.opened .case-study-item__content
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        z-index: 100
        padding: 30px
        background-color: #fff
        display: block

    .case-study-item__content-close
        cursor: pointer
        outline: none
        border: none
        background: transparent
        position: absolute
        top: 5px
        right: 5px
        width: 15px
        height: 15px
        display: block
        transform: rotate(45deg)
        &:before
            content: ''
            width: 100%
            height: 2px
            background-color: #000
            top: 50%
            margin-top: -1px
            left: 0
            position: absolute
        &:after
            content: ''
            width: 2px
            height: 100%
            background-color: #000
            left: 50%
            margin-left: -1px
            top: 0
            position: absolute

    .form__section
        width: 100%
        &:last-child
            display: none

    .form-line__info
        display: none

    .form, .st-input, .st-textarea
        font-size: 16px
        padding: 10px

    .st-textarea
        height: 200px


    .section5-main__title
        font-size: 70px