include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
    head(lang="en")
        include pug/metatags.pug
        +title('Главная')
        include pug/styles.pug
    body.body
        .body__links
            .links-list
                .links-list__section
                    a(href='#firstSection').logo-link
                        img(src='./images/logo.svg').logo-link__img
                        img(src='./images/logo-red.svg').logo-link__img.logo-link__img_hover
                .links-list__section
                    nav.soc
                        a(href='#').soc__item.icon-facebook
                        a(href='#').soc__item.icon-twitter
        .body__page#fullpage
            .section.section-first
                .section-first__bg(style='background-image: url(./images/first-bg.png)')
                .section-flex
                    .section-flex__header
                        a(href='#fourthSection').button начать работу
                    .section-flex__content
                        .section-first__container
                            h1.title.title_fz_83.section-first__title openfoam
                            .section-first__content
                                .section-first__content-left
                                    .section-first__logo-bl
                                        img(src='./images/img-text1.png').section-first__logo-bl-img
                                        //.section-first__logo-bl-top в облаке
                                        //.section-first__logo-bl-bottom
                                        //    .section-first__logo.logo-link
                                        //        span.logo-link__bold hpc
                                        //        span.logo-link__italic hub
                                .section-first__content-right
                                    .st-text
                                        | виртуальный суперкомпьютер <br/> с предустановленным и настроенным
                                        |
                                        strong OpenFOAM
                    .section-flex__footer
                        a(href='#secondSection').button узнать больше
            .section.section-second
                .section-second__bg-left(style='background-image: url(./images/second-screen-graph-left.png)')
                .section-second__bg-right(style='background-image: url(./images/second-screen-graph-right.png)')
                .section-flex
                    .section-flex__header
                        a(href='#fourthSection').button начать работу
                    .section-flex__content.section2-main
                        .container
                            .section2-main__title
                                h2.title.title_fz_103 openfoam 5.0
                            .section2-main__subtitle
                                h3.title.title_fz_25.title_black От 1 до 12 узлов Xeon E5-2680v2, 64GB RAM, IB FDR, </br> 1GbE shared Storage 120TB0
                            .section2-main__info
                                .title.title_ttn.title_fz_18.title_black
                                    | Цена почасовая
                                    |
                                    span.title__red-span 5.5 RUB
                                    |
                                    | (ядро*час) или
                                    |
                                    span.title__red-span 2,640.00 RUB
                                    |
                                    | за один узел в сутки
                            .section2-main__list
                                .list-grid
                                    .list-grid__section
                                        ul.grid-ul
                                            li.grid-ul__li Кластер доступен к работе <br/> в течение 30 минут
                                            li.grid-ul__li Никакой настройки: ПО профессионально настроено и готово к работе
                                            li.grid-ul__li Почасовая тарификация
                                    .list-grid__section
                                        ul.grid-ul.grid-ul_v2
                                            li.grid-ul__li Поддержка 24x7: <br/> мы ответим на любые вопросы <br/> и при необходимости <br/> поможем с адаптацией <br/> окружения под ваши задачи
                                            li.grid-ul__li Отсутствие оплаты за простой
                            .section2-main__footer
                                img(src='images/img-logo1.png').section2-main__logo-img
                    .section-flex__footer
                        a(href='#thirdSection').button читать case study
            .section.section-three
                .section-three__bg-left(style='background-image: url(./images/third-screen-graph-left.png)')
                .section-three__bg-right(style='background-image: url(./images/third-screen-graph-right.png)')
                .section-flex
                    .section-flex__header
                    .section-flex__content.section3-main
                        .container
                            .section3-main__logo
                                img(src='images/img-logo2.png').section3-main__logo-img
                            .section3-main__subtitle
                                h3.title.title_fz_25.title_black.section3-main__mobile-title
                                    span.title__tablet-span РАСЧЕТ
                                    |
                                    | НА ПРИМЕРЕ CASE STUDY
                            .section3-main__content
                                .case-study-grid
                                    .case-study-grid__section
                                        .info-box
                                            .info-box__section
                                                .case-study-item
                                                    .case-study-item__title Задача
                                                    .case-study-item__content
                                                        | Компания Энергозапас решала в облаке
                                                        |
                                                        strong HPC Hub
                                                        |
                                                        | с применением пакета OpenFOAM задачу нахождения оптимальной формы гибкой оболочки ветрозащиты для здания высотой 300м.
                                                        button.case-study-item__content-close
                                            .info-box__section
                                                .case-study-item
                                                    .case-study-item__title Конечная цель
                                                    .case-study-item__content
                                                        | Нахождение такой формы оболочки, при которой распределение давления по поверхности создавало бы определенную комбинацию горизонтальных и вертикальных усилий в верхней точке сооружения.
                                                        button.case-study-item__content-close
                                    .case-study-grid__section
                                        .case-study-item
                                            .case-study-item__title Решение
                                            .case-study-item__content
                                                ul.list-ul
                                                    li.list-ul__li Решались уравнения Навье-Стокса для несжимаемой жидкости осреднённые по Рейнольдсу и замкнутые моделью турбулентности k-omega SST. На входной границе расчетной области задавался логарифмический профиль скорости.
                                                    li.list-ul__li Расчетная сетка для разных случаев составляла от 3 млн ячеек до 4,5 млн ячеек.
                                                    li.list-ul__li Размеры расчетной области 2,5км x 2,5км x 1км.
                                                    li.list-ul__li Каждая задача решалась в стационарной и нестационарной постановке.
                                                    li.list-ul__li
                                                        | На кластере размером
                                                        |
                                                        strong 3 узла
                                                        |
                                                        | задача в стационарной постановке решалась за 5-6 часов, а нестационарной постановке 6-7 часов. Расчёт одного варианта составлял, в среднем, 12 часов и стоил 3,960 рублей.
                                                button.case-study-item__content-close

                    .section-flex__footer
                        a(href='#fourthSection').button начать работу
            .section.section-four
                .section-four__bg(style='background-image: url(./images/four-screen-bg.png)')
                form.section-flex
                    .section-flex__content.section4-main
                        .container
                            .section4-main__title
                                .title.title_fz_25.title_black Заявка
                            .section4-main__form
                                .form
                                    .form__section
                                        .form__line.form-line
                                            .form-line__info
                                                span.form-line__info-mobile-bold Важная информация
                                                | </br> (без неё нам будет сложно)
                                                span.red-text *
                                            .form-line__content
                                                input(type='text' placeholder='Имя').st-input
                                        .form__line.form-line
                                            .form-line__content
                                                input(type='text' placeholder='Email или телефон').st-input
                                        .form__line.form-line
                                            .form-line__content
                                                textarea(placeholder='Расскажите нам что-то про свои задачи (если хотите)').st-textarea
                                    .form__section
                                        .form__line.form-line
                                            .form-line__info
                                                span.form-line__info-mobile-bold Неважная информация
                                                    | </br> (но с ней всё будет намного быстрее)
                                            .form-line__content
                                                input(type='text' placeholder='Кол-во вычислительных ядр').st-input
                                        .form__line.form-line
                                            .form-line__content
                                                input(type='text' placeholder='Необходимый размер хранилища').st-input
                                        .form__line.form-line
                                            .form-line__content
                                                textarea(placeholder='Расскажите нам, что бы вы ещё хотели иметь на вашем кластере? ОС? ПО? Библиотеки? Встроенная кофемашина?').st-textarea
                    .section-flex__footer
                        button.button ОТПРАВИТЬ ЗАЯВКУ
            .section.section-five
                .section-five__bg(style='background-image: url(./images/first-bg.png)')
                .section-flex
                    .section-flex__content
                        .section-five__content
                            .section-five__logo
                                img(src='./images/logo-red.svg').section-five__logo-img
                            .section-five__contacts
                                .contacts
                                    a(href='mailto:INFO@HPCHUB.NET').contacts__mail MAIL: INFO@HPCHUB.NET
                                    a(href='tel: +7 495 008 6194').contacts__phone +7 495 008 6194

        include pug/scripts.pug
